<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${newlogin})}">
             
        </p>
        <p th:text="#{email.resetlog.text1}">
         </p>
        <p>
            <a th:href="@{|${baseUrl}/activate?key=${user.resetKey}&amp;newlogin=${newlogin}&amp;oldlogin=${user.login}|}"
               th:text="cliquez">Activation Link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
 