
<div *ngIf="ticket">
    <h2><span>Ticket</span> {{ticket.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Incident Type</span></dt>
        <dd>
            <span>{{ticket.incidentType}}</span>
        </dd>
        <dt><span>Incident Date</span></dt>
        <dd>
            <span>{{ticket.incidentDate | date:'medium'}}</span>
        </dd>
        <dt><span>Track Id Zabbix</span></dt>
        <dd>
            <span>{{ticket.trackIdZabbix}}</span>
        </dd>
        <dt><span>Host Idzabbix</span></dt>
        <dd>
            <span>{{ticket.hostIdzabbix}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{ticket.description}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{ticket.status}}</span>
        </dd>
        <dt><span>Close Date</span></dt>
        <dd>
            <span>{{ticket.closeDate | date:'medium'}}</span>
        </dd>
        <dt><span>Severity</span></dt>
        <dd>
            <span>{{ticket.severity}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{ticket.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
            <span>{{ticket.modifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Admin</span></dt>
        <dd>
            {{ticket.adminId}}
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="ticket.companyId">
                <a [routerLink]="['/company', ticket.companyId]">{{ticket.companyId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
