
<div *ngIf="demandStory">
    <h2><span>Demand Story</span> {{demandStory.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{demandStory.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{demandStory.status}}</span>
        </dd>
        <dt><span>Admin</span></dt>
        <dd>
            {{demandStory.adminId}}
        </dd>
        <dt><span>Demand</span></dt>
        <dd>
            <div *ngIf="demandStory.demandId">
                <a [routerLink]="['/demand', demandStory.demandId]">{{demandStory.demandId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demand-story/'+ demandStory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
