<div>
    <h2>
        <span>Demand Stories</span>
        <button class="btn btn-primary float-right jh-create-entity create-demand-story" [routerLink]="['/', { outlets: { popup: ['demand-story-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Demand Story
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="demandStories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminId"><span>Admin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="demandId"><span>Demand</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demandStory of demandStories ;trackBy: trackId">
                <td><a [routerLink]="['../demand-story', demandStory.id ]">{{demandStory.id}}</a></td>
                <td>{{demandStory.createdDate | date:'medium'}}</td>
                <td>{{demandStory.status}}</td>
                <td>
                    {{demandStory.adminId}}
                </td>
                <td>
                    <div *ngIf="demandStory.demandId">
                        <a [routerLink]="['../demand', demandStory.demandId  ]" >{{demandStory.demandId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../demand-story', demandStory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demand-story/'+ demandStory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demand-story/'+ demandStory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="demandStories && demandStories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
