<div>
    <h2>
        <span>Host Demands</span>
        <button class="btn btn-primary float-right jh-create-entity create-host-demand" [routerLink]="['/', { outlets: { popup: ['host-demand-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Create new Host Demand
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hostDemands">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zabbixId"><span>Zabbix Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span>Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ipAddress"><span>Ip Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siteId"><span>Site Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codeSnmp"><span>Code Snmp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateIntegration"><span>Date Integration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isDoneInZabbix"><span>Done in Zabbix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="demandId"><span>Demand</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hostDemand of hostDemands ;trackBy: trackId">
                <td><a [routerLink]="['../host-demand', hostDemand.id ]">{{hostDemand.id}}</a></td>
                <td>{{hostDemand.zabbixId}}</td>
                <td>{{hostDemand.label}}</td>
                <td>{{hostDemand.ipAddress}}</td>
                <td>{{hostDemand.siteId}}</td>
                <td>{{hostDemand.type}}</td>
                <td>{{hostDemand.codeSnmp}}</td>
                <td>{{hostDemand.dateIntegration | date:'medium'}}</td>
                <td>{{hostDemand.isDoneInZabbix}}</td>
                <td>
                    <div *ngIf="hostDemand.demandId">
                        <a [routerLink]="['../demand', hostDemand.demandId  ]" >{{hostDemand.demandId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../host-demand', hostDemand.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-demand/'+ hostDemand.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-demand/'+ hostDemand.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="hostDemands && hostDemands.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
