<div>
    <h2>
        <span>Contracts</span>
        <button class="btn btn-primary float-right jh-create-entity create-contract" [routerLink]="['/', { outlets: { popup: ['contract-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Contract
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contracts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currentStatus"><span>Current Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span>Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="beginDate"><span>Begin Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span>End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="offerId"><span>Offer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contract of contracts ;trackBy: trackId">
                <td><a [routerLink]="['../contract', contract.id ]">{{contract.id}}</a></td>
                <td>{{contract.currentStatus}}</td>
                <td>{{contract.createDate | date:'medium'}}</td>
                <td>{{contract.beginDate | date:'medium'}}</td>
                <td>{{contract.endDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="contract.companyId">
                        <a [routerLink]="['../company', contract.companyId  ]" >{{contract.companyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contract.offerId">
                        <a [routerLink]="['../offer', contract.offerId  ]" >{{contract.offerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contract', contract.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contract/'+ contract.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contract/'+ contract.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="contracts && contracts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
