<div>
    <h2>
        <span>Host Contracts</span>
        <button class="btn btn-primary float-right jh-create-entity create-host-contract" [routerLink]="['/', { outlets: { popup: ['host-contract-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Host Contract
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hostContracts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zabbixHostId"><span>Zabbix Host Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contractId"><span>Contract</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hostContract of hostContracts ;trackBy: trackId">
                <td><a [routerLink]="['../host-contract', hostContract.id ]">{{hostContract.id}}</a></td>
                <td>{{hostContract.zabbixHostId}}</td>
                <td>
                    <div *ngIf="hostContract.contractId">
                        <a [routerLink]="['../contract', hostContract.contractId  ]" >{{hostContract.contractId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../host-contract', hostContract.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-contract/'+ hostContract.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'host-contract/'+ hostContract.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="hostContracts && hostContracts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
