<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHostContractLabel">Create or edit a Host Contract</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!hostContract.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="hostContract.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_zabbixHostId">Zabbix Host Id</label>
            <input type="text" class="form-control" name="zabbixHostId" id="field_zabbixHostId"
                [(ngModel)]="hostContract.zabbixHostId"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_contract">Contract</label>
            <select class="form-control" id="field_contract" name="contract" [(ngModel)]="hostContract.contractId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contractOption.id" *ngFor="let contractOption of contracts; trackBy: trackContractById">{{contractOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
