
<div *ngIf="ticketMessage">
    <h2><span>Ticket Message</span> {{ticketMessage.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Ticket Id</span></dt>
        <dd>
            <span>{{ticketMessage.ticketId}}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
            <span>{{ticketMessage.text}}</span>
        </dd>
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{ticketMessage.userId}}</span>
        </dd>
        <dt><span>User Name</span></dt>
        <dd>
            <span>{{ticketMessage.userName}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{ticketMessage.createdDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket-message/'+ ticketMessage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
