<div>
    <h2>
        <span>Ticket Messages</span>
        <button class="btn btn-primary float-right jh-create-entity create-ticket-message" [routerLink]="['/', { outlets: { popup: ['ticket-message-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ticket Message
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ticketMessages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ticket Id</span></th>
            <th><span>Text</span></th>
            <th><span>User Id</span></th>
            <th><span>User Name</span></th>
            <th><span>Created Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticketMessage of ticketMessages ;trackBy: trackId">
                <td><a [routerLink]="['../ticket-message', ticketMessage.id ]">{{ticketMessage.id}}</a></td>
                <td>{{ticketMessage.ticketId}}</td>
                <td>{{ticketMessage.text}}</td>
                <td>{{ticketMessage.userId}}</td>
                <td>{{ticketMessage.userName}}</td>
                <td>{{ticketMessage.createdDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ticket-message', ticketMessage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket-message/'+ ticketMessage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ticket-message/'+ ticketMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
