<div>
    <h2>
        <span>Companies</span>
        <button class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/', { outlets: { popup: ['company-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Company
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zabbixLogin"><span>ZabbixLogin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zabbixPassword"><span>ZabbixPassword</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="website"><span>Website</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span>Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span>Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mainEmail"><span>MainEmail</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['../company', company.id ]">{{company.id}}</a></td>
                <td>{{company.zabbixLogin}}</td>
                <td>{{company.zabbixPassword}}</td>
                <td>{{company.name}}</td>
                <td>{{company.website}}</td>
                <td>{{company.address}}</td>
                <td>{{company.phone}}</td>
                <td>{{company.mainEmail}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../company', company.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="companies && companies.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
