
<div *ngIf="dashboardItem">
    <h2><span>Dashboard Item</span> {{dashboardItem.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Host Type</span></dt>
        <dd>
            <span>{{dashboardItem.hostType}}</span>
        </dd>
        <dt><span>Number Of Equipments</span></dt>
        <dd>
            <span>{{dashboardItem.numberOfEquipments}}</span>
        </dd>
        <dt><span>Number Of Tickets</span></dt>
        <dd>
            <span>{{dashboardItem.numberOfTickets}}</span>
        </dd>
        <dt><span>Color</span></dt>
        <dd>
            <span>{{dashboardItem.color}}</span>
        </dd>
        <dt><span>Img</span></dt>
        <dd>
            <div *ngIf="dashboardItem.img">
                <a (click)="openFile(dashboardItem.imgContentType, dashboardItem.img)">open</a>
                {{dashboardItem.imgContentType}}, {{byteSize(dashboardItem.img)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dashboard-item/'+ dashboardItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
