<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDashboardItemLabel">Create or edit a Dashboard Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!dashboardItem.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dashboardItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hostType">Host Type</label>
            <input type="text" class="form-control" name="hostType" id="field_hostType"
                [(ngModel)]="dashboardItem.hostType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberOfEquipments">Number Of Equipments</label>
            <input type="text" class="form-control" name="numberOfEquipments" id="field_numberOfEquipments"
                [(ngModel)]="dashboardItem.numberOfEquipments"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberOfTickets">Number Of Tickets</label>
            <input type="text" class="form-control" name="numberOfTickets" id="field_numberOfTickets"
                [(ngModel)]="dashboardItem.numberOfTickets"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_color">Color</label>
            <input type="text" class="form-control" name="color" id="field_color"
                [(ngModel)]="dashboardItem.color"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_img">Img</label>
            <div>
                <div *ngIf="dashboardItem.img" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(dashboardItem.imgContentType, dashboardItem.img)">open</a><br>
                    <span class="pull-left">{{dashboardItem.imgContentType}}, {{byteSize(dashboardItem.img)}}</span>
                    <button type="button" (click)="dashboardItem.img=null;dashboardItem.imgContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_img" (change)="setFileData($event, dashboardItem, 'img', false)"/>
            </div>
            <input type="hidden" class="form-control" name="img" id="field_img"
                [(ngModel)]="dashboardItem.img"  />
            <input type="hidden" class="form-control" name="imgContentType" id="field_imgContentType"
                [(ngModel)]="dashboardItem.imgContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
