<div>
    <h2>
        <span>Contact People</span>
        <button class="btn btn-primary float-right jh-create-entity create-contact-person" [routerLink]="['/', { outlets: { popup: ['contact-person-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Contact Person
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contactPeople">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firtsname"><span>Firtsname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastname"><span>Lastname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mobilePhone"><span>Mobile Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fixedPhone"><span>Fixed Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactPerson of contactPeople ;trackBy: trackId">
                <td><a [routerLink]="['../contact-person', contactPerson.id ]">{{contactPerson.id}}</a></td>
                <td>{{contactPerson.firtsname}}</td>
                <td>{{contactPerson.lastname}}</td>
                <td>{{contactPerson.email}}</td>
                <td>{{contactPerson.mobilePhone}}</td>
                <td>{{contactPerson.fixedPhone}}</td>
                <td>
                    <div *ngIf="contactPerson.companyId">
                        <a [routerLink]="['../company', contactPerson.companyId  ]" >{{contactPerson.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contact-person', contactPerson.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-person/'+ contactPerson.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-person/'+ contactPerson.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="contactPeople && contactPeople.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
