
<div *ngIf="contactPerson">
    <h2><span>Contact Person</span> {{contactPerson.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Firtsname</span></dt>
        <dd>
            <span>{{contactPerson.firtsname}}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
            <span>{{contactPerson.lastname}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{contactPerson.email}}</span>
        </dd>
        <dt><span>Mobile Phone</span></dt>
        <dd>
            <span>{{contactPerson.mobilePhone}}</span>
        </dd>
        <dt><span>Fixed Phone</span></dt>
        <dd>
            <span>{{contactPerson.fixedPhone}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="contactPerson.companyId">
                <a [routerLink]="['/company', contactPerson.companyId]">{{contactPerson.companyId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-person/'+ contactPerson.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
