
<div *ngIf="hostType">
    <h2><span>Host Type</span> {{hostType.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{hostType.name}}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span>{{hostType.label}}</span>
        </dd>
        <dt><span>Img</span></dt>
        <dd>
            <div *ngIf="hostType.img">
                <a (click)="openFile(hostType.imgContentType, hostType.img)">open</a>
                {{hostType.imgContentType}}, {{byteSize(hostType.img)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'host-type/'+ hostType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
