
<div *ngIf="demand">
    <h2><span>Demand</span> {{demand.id}}</h2>
    <hr>
    <custom-alert-error></custom-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Type</span></dt>
        <dd>
            <span>{{demand.type}}</span>
        </dd>
        <dt><span>Current Status</span></dt>
        <dd>
            <span>{{demand.currentStatus}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{demand.description}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{demand.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
            <span>{{demand.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="demand.companyId">
                <a [routerLink]="['/company', demand.companyId]">{{demand.companyId}}</a>
            </div>
        </dd>
        <dt><span>Contract</span></dt>
        <dd>
            <div *ngIf="demand.contractId">
                <a [routerLink]="['/contract', demand.contractId]">{{demand.contractId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demand/'+ demand.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
