<div>
    <h2>
        <span>Demands</span>
        <button class="btn btn-primary float-right jh-create-entity create-demand" [routerLink]="['/', { outlets: { popup: ['demand-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Demand
            </span>
        </button>
    </h2>
    <custom-alert></custom-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="demands">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currentStatus"><span>Current Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="companyId"><span>Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contractId"><span>Contract</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demand of demands ;trackBy: trackId">
                <td><a [routerLink]="['../demand', demand.id ]">{{demand.id}}</a></td>
                <td>{{demand.type}}</td>
                <td>{{demand.currentStatus}}</td>
                <td>{{demand.description}}</td>
                <td>{{demand.createdDate | date:'medium'}}</td>
                <td>{{demand.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="demand.companyId">
                        <a [routerLink]="['../company', demand.companyId  ]" >{{demand.companyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="demand.contractId">
                        <a [routerLink]="['../contract', demand.contractId  ]" >{{demand.contractId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../demand', demand.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demand/'+ demand.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demand/'+ demand.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="demands && demands.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
