<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDemandLabel">Create or edit a Demand</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <custom-alert-error></custom-alert-error>
        <div class="form-group" [hidden]="!demand.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="demand.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="demand.type" id="field_type" >
                <option value="ADD">ADD</option>
                <option value="DELETE">DELETE</option>
                <option value="UPDATE">UPDATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_currentStatus">Current Status</label>
            <select class="form-control" name="currentStatus" [(ngModel)]="demand.currentStatus" id="field_currentStatus" >
                <option value="REQUESTED">REQUESTED</option>
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="REJECTED">REJECTED</option>
                <option value="DONE">DONE</option>
                <option value="INCOMPLETE">INCOMPLETE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="demand.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="demand.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="demand.lastModifiedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="demand.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contract">Contract</label>
            <select class="form-control" id="field_contract" name="contract" [(ngModel)]="demand.contractId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contractOption.id" *ngFor="let contractOption of contracts; trackBy: trackContractById">{{contractOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
